{% extends 'base.html'%}
{% block titulo %} Cuenta de Usuario {% endblock %}

{% block encabezado %}
<h3>Cuenta Usuario </h3>
{% endblock %}

{% block contenido %}
<div class="row ">
	<div class="span8 ">

		<div class="tabbable ">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#profile" data-toggle="tab">Perfil</a>
				</li>
				<!--<li>
					<a href="#settings" data-toggle="tab">Ajustes</a>
				</li>
				-->
			</ul>

			<br>

			<div class="tab-content well">
				<div class="tab-pane active" id="profile">
					<form id="edit-profile" class="form-horizontal">
						<fieldset>

							<div class="control-group">
								<label class="control-label" for="username">Usuario</label>
								<div class="controls">
									<input type="text" class="input-medium disabled" id="username" value="{{user.username}}" disabled>
									<p class="help-block">
										El nombre de usuario para iniciar sesión no se puede cambiar.
									</p>
								</div>
								<!-- /controls -->
							</div>
							<!-- /control-group -->

							<div class="control-group">
								<label class="control-label" for="email">Dni</label>
								<div class="controls">
									<input type="text" class="input-medium" id="dni" value="{{user.get_profile.dni}}">
								</div>
								<!-- /controls -->
							</div>
							<!-- /control-group -->

							<div class="control-group">
								<label class="control-label" for="firstname">Nombre</label>
								<div class="controls">
									<input type="text" class="input-medium" id="firstname" value="{{user.first_name}}">
								</div>
								<!-- /controls -->
							</div>
							<!-- /control-group -->

							<div class="control-group">
								<label class="control-label" for="lastname">Apellidos</label>
								<div class="controls">
									<input type="text" class="input-medium" id="lastname" value="{{user.last_name}}">
								</div>
								<!-- /controls -->
							</div>
							<!-- /control-group -->

							<div class="control-group">
								<label class="control-label" for="email">Email</label>
								<div class="controls">
									<input type="text" class="input-large" id="email" value="{{user.email}}">
								</div>
								<!-- /controls -->
							</div>
							<!-- /control-group -->

							<br />
							

							<div class="control-group">
								<label class="control-label" >Password</label>
								<div class="controls docs-input-sizes">
									<input type="password" class="input-medium " id="password1" value="{{user.password}}">
									</br>
									</br>
									<input type="password" class="input-medium" id="password2" value="{{user.password}}">
								</div>
								<!-- /controls -->
							</div>
							<!-- /control-group -->

							<br />

							<div class="form-actions">
								<button type="submit" class="btn btn-primary">
									Save
								</button>
								<button class="btn">
									Cancel
								</button>
							</div>
							<!-- /form-actions -->
						</fieldset>
					</form>
				</div>

				<div class="tab-pane" id="settings">
					<form id="edit-profile2" class="form-horizontal">
						<fieldset>

							<div class="control-group">
								<label class="control-label" for="accounttype">Account Type</label>
								<div class="controls">
									<label class="radio">
										<input type="radio" name="accounttype" value="option1" checked="checked" id="accounttype">
										POP3 </label>
									<label class="radio">
										<input type="radio" name="accounttype" value="option2">
										IMAP </label>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="accountusername">Account Username</label>
								<div class="controls">
									<input type="text" class="input-large" id="accountusername" value="rod.howard@example.com">
									<p class="help-block">
										Leave blank to use your profile email address.
									</p>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="emailserver">Email Server</label>
								<div class="controls">
									<input type="text" class="input-large" id="emailserver" value="mail.example.com">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="accountpassword">Password</label>
								<div class="controls">
									<input type="text" class="input-large" id="accountpassword" value="password">
								</div>
							</div>

							<div class="control-group">
								<label class="control-label" for="accountadvanced">Advanced Settings</label>
								<div class="controls">
									<label class="checkbox">
										<input type="checkbox" name="accountadvanced" value="option1" checked="checked" id="accountadvanced">
										User encrypted connection when accessing this server </label>
									<label class="checkbox">
										<input type="checkbox" name="accounttype" value="option2">
										Download all message on connection </label>
								</div>
							</div>

							<br />

							<div class="form-actions">
								<button type="submit" class="btn btn-primary">
									Guardar
								</button>
								<button class="btn">
									Cancelar
								</button>
							</div>
						</fieldset>
					</form>
				</div>

			</div>

		</div>
	</div>
	<!-- /span8 -->
</div>
<!-- /row -->
{% endblock %}
